.homes {
    //background-color: $color-secondary;
    grid-column: center-start / center-end;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(25rem,1fr));
    grid-gap: 7rem;
}

.home {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 3.5rem;
    &__img {
        width: 100%;
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        z-index: 1;
    }

    &__like {
        grid-row: 1 / 2;
        grid-column: 2/3;
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;
        z-index: 2;
        justify-self: end;
    }

    &__name {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
        align-self: end;
        width: 80%;
        justify-self: center;
        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;
        text-align: center;
        padding: 1.25rem;
        transform: translateY(50%);
        z-index: 2;
        background-color: $color-secondary;
    }

    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }
    &__location,
    &__rooms,
    &__area,
    &__price{
        font-size: 1.5rem;
        margin-left: 2rem;
        display: flex;
        align-items: center;
        svg {
            width: 2rem;
            height: 2rem;
            fill: $color-primary;
            margin-right: 1rem;
        }


    }
    &__btn {
        grid-column: 1 / 3;
    }
}

